*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-size: 16px;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif
}

h1, h2{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

main i{
    color: deeppink;
}

#wrapper{
    width: 1200px;
    margin: auto;
}

main{
    background: white;
}

.center-title{
    text-align: center;
    margin-bottom: 10px;
}

.pink-line{
    background-color: deeppink;
    color: deeppink;
    width: 70px;
    height: 4px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header button{
    border: none;
    color: white;
    background-color: transparent;
}

#logo img{
    width: 80px;
}

header nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

nav ul li{
    padding: 12px;
}

nav i{
    border: 1px solid white;
    padding: 0.5em;
}

#hero{
    background-image: url(../asset/images/chill.webp);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4em 14em;
}

#hero a{
    border: 1px solid white;
    padding: 0.5em;
}

#cred-container{
    padding: 1em 5em;
    display: flex;
}

#cred-container article{
    width: 33%;
    margin-right: 2em;
}

#cred-container i{
    padding-right: 10px;
}

#cred-container article:first-child p:last-child{
    color: rgb(180, 179, 179); 
}

#cred-container article:nth-child(2) p:last-child{
    color: rgb(180, 179, 179);
    padding-left: 1.9em;
}

#cred-container article:nth-child(3) p:last-child{
    color: rgb(180, 179, 179);
    padding-left: 1.9em;
}

.accordeon{
    border: 1px solid #EEEEEE;
    margin-bottom: 0.5em;
    cursor: pointer;
}

.hide{
    display: none;
}

.accordeon:hover{
    background-color: #EEEEEE;
}

.show:before{
    content: "\002B";
    color: deeppink;
    font-size: 20px;
}

.show.active:before{
    content: "\2212";
}

#gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid rgb(180, 179, 179);
}

#gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}

#gallery-nav ul{
    display: flex;
}

#gallery-nav button{
    color: grey;
    border: none;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

#gallery-nav button:hover{
    color: deeppink;
}

#gallery-nav div a{
    padding: 4px 8px;
    border: 2px solid deeppink;
    text-decoration: none;
    color: deeppink;
    font-weight: bold;
}

#client{
    padding: 15px 0;
}
#client img{
    width: 60px;
    height: 60px;
}

.profil{
    display: flex;
    color: grey;
    font-style:italic;
    font-weight: 200;
    width: 70%;
    margin: 1em auto;
    border-bottom: 1px solid #EEEEEE;
}

.profil:nth-child(3){
    border-bottom: none;
}

.droite{
    text-align: end;
    display: flex;
    flex-direction: row-reverse;
}

#droite p{
    padding-right: 3.5em;
}

.profil p:last-child{
    line-height: 12px;
    padding-left: 3.5em;
    font-size: 10px;
}

#buy{
    background-image: url(../asset/images/stars.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 360px;
    align-items: center;
    text-align: center;
    padding: 5em 15em;
}

#buy p{
    padding: 15px 0;
}

#buy a{
    border: 2px solid white;
    padding: 10px 15px;
}

#form-section{
    padding: 30px 0 50px;
}

#form-section form{
    display: flex;
    justify-content: center;
}

#form-section{
    padding: 10px;
}

#form-section .form-div{
    margin: 0 15px;
}

#form-section input[type="submit"]{
    border: none;
    color: white;
    background-color: deeppink;
    color: white;
    padding: 5px 8px;
}

#form-section input[type="text"], #form-section input[type="email"] {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #EEEEEE;
}

#form-section textarea {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: #EEEEEE;
}

#form-section span{
    color: deeppink;
}

#info-footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.footer-container{
    width: 33%;
}

.footer-container .pink-line{
    margin: 0;
}

.footer-container input[type="text"]{
    border: none;
    background-color: rgb(32, 32, 32);
    color: white;
    width: 80%;
    padding: 7px 12px;
    margin-bottom: 10px;
    font-style: italic;
}

.footer-container input[type="submit"]{
    border: 2px solid deeppink;
    color: white;
    background-color: black;
    font-weight: bold;
    padding: 5px 10px;
}

#mention{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
}

#mention ul{
    display: flex;
}

#mention li{
    padding: 15px;
}

@media (max-width: 990px){
    #wrapper{
        width: 100%;
    }

    #burger{
        margin: 1em;
    }
        
    header nav ul{
        flex-direction: column;
        justify-content: center;
    }

    header img{
        display: none;
    }

    #gallery{
        grid-template-columns: repeat(2,1fr);
    }
    .none{
        display: none;
    }
}

@media (max-width: 778px){
    #wrapper{
        width: auto;
    }

    #hero{
        padding: 2em 5em;
    }

    #buy{
        padding: 5em;
    }

}

@media (max-width: 575px){
    #wrapper{
        width: auto;
    }

    #hero{
        padding: 2em;
    }

    #cred-container{
        flex-direction: column;
        text-align: center;
    }

    #cred-container article{
        width: 100%;
    }

    #gallery{
        grid-template-columns: 1fr;
    }

    #gallery-nav{
        flex-wrap: wrap;
    }

    .profil{
        flex-wrap: wrap;
        justify-content: center;
    }

    .profil p:last-child{
        text-align: center;
        padding: 0;
        font-size: 13px;
    }

    form{
        flex-direction: column;
    }

    #info-footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-container{
        width: 100%;
    }

    .footer-container .pink-line{
        margin: 0 auto;
    }

    #mention{
        flex-wrap: wrap;
    }
}